<%
if(spotifyResult) { 
bands=spotifyResult;

for(i=0;i<bands.length; i++) {
    var band=bands[i];
%>
        <div class="band" data-band>
            <label for="band_<%=i%>">
                <input type="checkbox" data-band_active class="band_active"
                checked="checked" id="band_<%=i%>" value="<%=band%>"  />
                <%=band%>
    </label>
        </div>


    <% }  
    
 } %>