<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Wanderlust.cloud - finding cool live gigs on the road
    </title>

    <link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css">
    

    <style>
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  background-color: #f5f5f5;
}
.container .text-muted {
  margin: 20px 0;
}

.form-signin {
      max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

    </style>

</head>



<body>

<a class="btn btn-info pull-right" style="margin: 20px 5px" href="./login">Enter</a> 
<div class="clearfix"><br></div>
    <div class="container" style="max-width: 500px">
      <%if(actions && actions.actionResult) { %>  
        <div class="alert alert-success alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%=actions.actionResult%>
        </div>
        <%}%>
        <%if(actions && actions.actionError) { %>  
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%=actions.actionError%>
        </div>
      <%}%>      
        

      <div class="text-center">
        <h1>Wanderlust.cloud</h1>
      </div>
      <p class="lead text-center">Helping you finding cool live gigs when you are on the road.</p>
      <hr>
      <div class="text-center">
        <p>This service is currently under development, and only intended for a few friends and family.</p>
        <p>If you have been invited to join, please fill in your email address below to get started, we'll be in touch soon.</p>
      </div>
      <div class="text-left" id="register_form">
        <form class="form-signin" method="POST" action="./register_user">
          <label for="inputEmail" class="sr-only">Email address</label>
          <input type="email" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>
          <br>
          <button class="btn  btn-primary btn-block" type="submit">Join alpha</button>
          <small></small>

      
  


        </form>
    

      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted text-center">
            For questions and suggestions please contact us at <a href="mailto:info@wanderlust.cloud">info@wanderlust.cloud</a>
        </p>
      </div>
    </footer>




    <script type='text/javascript' src="./js/jquery-latest.js"></script>
    <script type='text/javascript' src="./js/bootstrap.min.js"></script>
    <script type="text/javascript">
    $(function () {
          $('[data-toggle="tooltip"]').tooltip()

    });
    </script>



</body>

</html>