<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Wanderlust.cloud - finding cool live gigs on the road
    </title>

    <link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css">


    <style>
        html {
            position: relative;
            min-height: 100%;
        }
        
        body {
            /* Margin bottom by footer height */
            margin-bottom: 60px;
        }
        
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            background-color: #f5f5f5;
        }
        
        .container .text-muted {
            margin: 20px 0;
        }
        
        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }
    </style>

</head>



<body>

<script>
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    if (response.status === 'connected') {
      // Logged into your app and Facebook.
      loginFacebook();
    } else {
      // The person is not logged into your app or we are unable to tell.
     /* document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';*/
    }
  }

  function checkLoginState() {
    FB.getLoginStatus(function(response) {
      statusChangeCallback(response);
    });
  }



  function loginFacebook() {
    FB.api('/me', {fields: 'name, email'}, function(response) {
        //for login:
        if(document.getElementById("loginForm")!=null)
        {
          if(response.id)
            document.getElementById("fbId").value=response.id;
            $("#loginForm").append('<input type="hidden" name="login" value="1">');
            $("#loginForm").submit();

        }

    });
  }
</script>



    <a class="btn btn-info pull-right" style="margin: 20px 5px" href="/">Home</a>
    
    <div class="clearfix"><br></div>
    <div class="container" style="max-width: 500px">



        <div class="text-center">
            <h1>Wanderlust.cloud</h1>
        </div>
        <p class="lead text-center">Helping you finding cool live gigs when you are on the road</p>
        <hr>
        <div class="text-center">
            <%if(locals.actions && actions.actionResult) { %>  
            <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%=actions.actionResult%>
            </div>
            <%}%>        

 
            <form method="POST" id="loginForm" action="/login">
 
                <h2>Login form</h2>

                <div class="form-group">
                    <input name="email" type="email" class="form-control" placeholder="Email" required autofocus>
                </div>
                <div class="form-group">
                    <input name="password" type="password" class="form-control" placeholder="Password" required>
                </div>
                    <input type="hidden" name="fbId" id="fbId" >
                <div class="form-group">
                    <input type="submit" class="btn btn-primary btn" name="login" value="Enter">
                </div>
            </form>
            <div class="text-center">
                    <div class="fb-login-button" id="loginbutton" disabled  scope="public_profile,email" onlogin="checkLoginState();" 
                    data-max-rows="1" data-size="medium" data-button-type="login_with" data-show-faces="false" 
                    data-auto-logout-link="false" data-use-continue-as="false"></div>
            </div>
            <br>
            <%if(locals.actions && actions.actionError) { %>  
            <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <strong>Error</strong> <%=actions.actionError%>
            </div>
            <%}%>

            
        </div>

    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted text-center">
                For questions and suggestions please contact us at <a href="mailto:info@wanderlust.cloud">info@wanderlust.cloud</a>
            </p>
        </div>
    </footer>




    <script type='text/javascript' src="./js/jquery-latest.js"></script>
    <script type='text/javascript' src="./js/bootstrap.min.js"></script>
    <script type="text/javascript">
    $(function () {
          $('[data-toggle="tooltip"]').tooltip();
          $.ajaxSetup({ cache: true });
          $.getScript('//connect.facebook.net/en_US/sdk.js', function(){
            FB.init({
              appId: '1355789351205281',
              cookie     : true,  // enable cookies to allow the server to access 
                       // the session
              xfbml      : true,  // parse social plugins on this page
              version    : 'v2.8' // use graph api version 2.8                            
            });     
            $('#loginbutton,#feedbutton').removeAttr('disabled');

/*
            FB.getLoginStatus(function(response) {
              statusChangeCallback(response);
            });
            */

          });          

    });
    </script>


</body>

</html>