<%=authSuccess%>
<h2>registraton</h2>
<form method="POST">
EMAIL <input name="email" type="text">
<input type="submit" name="registration" value="!">
</form>

<h2>login</h2>
<form method="POST">
EMAIL <input name="email" type="text">
PASS <input name="password" type="text">
<input type="submit" name="login"  value="!">
</form>
<%=authError%>
