<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Wanderlust
    </title>

    <link href="./css/bootstrap.min.css" rel="stylesheet" type="text/css">


    <style>
        html {
            position: relative;
            min-height: 100%;
        }
        
        body {
            /* Margin bottom by footer height */
            margin-bottom: 60px;
        }
        
        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            background-color: #f5f5f5;
        }
        
        .container .text-muted {
            margin: 20px 0;
        }
        
        .form-signin {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }
    </style>

</head>



<body>
   <a class="btn btn-default pull-right" style="margin: 20px 5px" href="/logout">Exit</a> <a class="btn btn-info pull-right" style="margin: 20px 5px" href="/">Home</a> 
    <div class="clearfix"><br></div>
    <div class="container" >



        <div class="text-center">
            <h1>Wanderlust</h1>
        </div>
        <p class="lead text-center">Some punchline text</p>
        <hr>
        <div><h4>We will send notifications to <b><%=session.authed_user.email%></b></h4></div>
        <div class="row">
            <div class="col-xs-6">
                <a href="/my_trips" class="btn btn-primary btn-block">My trips</a>
            </div>
            <div class="col-xs-6">
                <a href="/my_artists" class="btn btn-primary btn-block">My artists</a>
            </div>
        </div>
        <div class="text-center" style="margin-top: 60px;">
            If you with to deactivate your profile, please click <a href="/deactivate?user_id=<%=session.authed_user._id%>">this link</a>.
            We will be grateful for any <a href="mailto:info@wanderlust.cloud">comments</a> 
        </div>
     </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted text-center">
                For questions and suggestions please contact us at <a href="mailto:info@wanderlust.cloud">info@wanderlust.cloud</a>
            </p>
        </div>
    </footer>




    <script type='text/javascript' src="./js/jquery-latest.js"></script>
    <script type='text/javascript' src="./js/bootstrap.min.js"></script>
    <script type="text/javascript">
    $(function () {
          $('[data-toggle="tooltip"]').tooltip()

    });
    </script>



</body>

</html>